h1
{
	text-align: center;
	background-color: #95A595;
	color: white;
}

p
{
	font-family: DejaVu Math TeX Gyre;
	color: black;
	margin-left: 30px; margin-top: 30px; margin-right: 30px;
	line-height: 28px;
}

p1{
	font-family: DejaVu Math TeX Gyre;
	color: white;
}

p2{
color: white;
}

p3{
text-align: right;
color: white;
margin-left: 840px;
}

h3 
{
text-align: left; 
padding: 12px;
border-width:5px;
border-style:double;
border-color: #95A595;
}

.rouge {
	color: white;
	background-color:  #dc143c;
}
.blanc {
	background-color : white;
}
.vert {
	color: white;
	background-color :  #26a853;
}

ol {
  list-style-type: circle;
  text-align: left; 
}

#fond
{
	width: 1190px;
	margin:0 auto;
	text-align: center;
	background-color: white;
	align-content: center;
	box-shadow: 1px 1px 12px #555;
}

a:hover /* Apparence au survol des liens */
{
   text-decoration: underline;
   color: #576657;
}

mark 
{ 	padding:4px; 
	width:300px; 
	background-color:#95A595; 
	border-radius:20px;
	color: white;
}


